{% macro displayNewsHeadlines(headlines) %}

<div class='container-fluid'>
    <div class="row">
        {% for headline in headlines %}
      <div class="col-md-4" style="display: flex">
        <div class="card mb-4" style="width: 40rem;">
         <img src="{{ headline.urlToImage }}" class="card-img-top" alt="..." style="width: 40rem; height: 30rem">
          <div class="card-body">
         <h4 class="card-text source">{{ headline.source.name}}</h4>
         <a href="{{ url }}">
          <h3 class="card-title"><b> {{ headline.title | truncate(50)}} </b></h3>
         </a>
        <p class="card-text">{{ headline.description  | truncate(100)}}</p>
        <p class="card-text">Author: {{ headline.author | truncate(25) }}</p>
        <p class="card-text">Date Published: {{ headline.publishedAt }}</p>
              <a href="{{headline.url}}" class="btn btn-primary">Full story</a>
        </div>
       </div>
      </div>
         {% endfor %}
    </div>
</div>

{% endmacro %}

